body{
    margin:0;
}

*{
    box-sizing:border-box;
    font-family: 'segoe UI'
}

.main-container{
    width:100vw;
    height: 100vh;
}

.background{
    z-index: -1;
    top: 0;
    filter: blur(2px);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: fixed;
}

.top-bar{
    box-shadow:0 1px 2px rgba(0,0,0,0.07),0 2px 4px rgba(0,0,0,0.07),0 4px 8px rgba(0,0,0,0.07),0 8px 16px rgba(0,0,0,0.07),0 16px 32px rgba(0,0,0,0.07),0 32px 64px rgba(0,0,0,0.07);
    position: absolute;
    top: 5%;
    margin-left: 5%;
    width: 90%;
    height: 47px;
    background: #001f3f;
    border-radius: 10px;
}

.top-bar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.top-bar-li {
  float: left;
}

.top-bar-li:nth-last-child(1){
    float: right;
}

.top-bar-li a {
  display:flex;
  color: white;
  text-align: center;
  padding: 13px;
  text-decoration: none;
}

.top-bar-li a:hover{
    height: 100%;
    border-radius: 10px;
    background-color: #111111;
}

.drop1:hover .drop {
    display:block;
}

.drop2:hover .drop {
    width: 20%;
    display:block;
    margin-left: -11%;
    height: 450%;
}

.drop3:hover .drop {
    width: 20%;
    display:block;
    height: 450%;
}

.drop{
    display: none;
    padding-top: 15px;
    position: absolute;
    background: #2565ae;
    width: 20%;
    height: 400%;
    z-index: 1;
    border-radius: 5px;
    color: aliceblue;
}

.drop ul{
    list-style: none;
}
.drop li{
    margin: 0;
    margin-left: -10%;
}

.drop li a:hover{
    height: 100%;
    border-radius: 10px;
    margin-left: -8%;
    background-color: #111111;
}

.heading-container{
    margin-top: 8%;
    position: relative;
    display: inline-block;
    padding: 0 40px;
    cursor: pointer;
    margin-left: 28%;
}

.text{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
    color: black; 
}

.text::before{
    content: attr(data-text);
    position: absolute;
    color: #fff;
    width: 0;
    overflow: hidden;
    transition: 0.6s;
}

.heading-container::before{
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background: #2980b9;
    right: 0;
    top: 0;
    transition: 0.6s;
}

.heading-container:hover .text::before,.heading-container:hover::before{
    width: 100%;
}

.table-form{
    position: relative;
    margin-top: 3%;
    width: 90%;
    margin-left: 5%;
}

h2, h3 {
  text-align: center;
}

input[type="button"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #45a049;
}

.styled-table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background: #001f3f;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: silver;
}
.styled-table tbody tr:nth-of-type(odd) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #001f3f;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

