body{
    margin:0;
}

*{
    box-sizing:border-box;
    font-family: 'segoe UI'
}

.main-container{
    width:100vw;
    height: 100vh;
}

.background{
    height: 100%;
    width: 100%;
background-position: center;
  background-size: cover;
    position: fixed;
}

.top-bar{
    position: absolute;
    top: 5%;
    margin-left: 5%;
    width: 90%;
    height: 47px;
    background: purple;
    border-radius: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

.top-bar li:nth-last-child(1){
    float: right;
}

li a {
  display:flex;
  color: white;
  text-align: center;
  padding: 13px;
  text-decoration: none;
}

li a:hover {
height: 100%;
    border-radius: 10px;
  background-color: #111111;
}

.login-form{
    display:flex;
    width:90%;
    border: 1px;
    margin: 0 auto;
    position: relative;
    height: 75%;
    top:17vh;
    border-radius: 10px;
}

.sign-in{
    width:30%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    padding-top: 4%;
    transition: all 0.5s;
    background: white;
}

.cover{
    width:70%;
    height: 100%;
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: purple;
    transition: 0.5s;
    
}

h3,h4{
    margin:0;
    font-weight: 500;
    font-size:1em;
    margin: 0 auto;
}

h3{
    font-size:1.1em;
    margin: 0 auto;
}

input{
    width: 80%;
    padding:2%;
    height: 37px;
    margin: 0 auto;
    border: 1px solid lightgrey;
    border-radius: 5px;
}


input[type=button]{
    width:80%;
    border:none;
    background:#682bd7;
    color:#fff;
}

input[type=button]:hover{
    cursor: pointer;
}

::placeholder{
    font-weight: 400;
    font-size: 1.1em;
}

.error {
    position: relative;
    animation: shake .1s linear;
    animation-iteration-count: 3;
}

@keyframes shake {
    0% { left: -5px; }
    100% { right: -5px; }
}

.forgot{
    text-align: left;
    margin-left: 10%;
    margin-top: 2vh;
}
p{
    font-size: 95%
}

.member{
    margin: 0 auto;
}

a{
    text-decoration-line: underline;
    color: purple;
}

a:hover{
    cursor: pointer;
}

